.Rproj.user
.Rhistory
.RData
.Ruserdata
Output/Pred/**
*.pyc
/.quarto/

Data/img/*
!Data/img/Gafanha_Low_LowRes.tif

Data/shp/*
!Data/shp/mask/Gafanha_Low.shp
!Data/shp/mask/Gafanha_Low.cpg
!Data/shp/mask/Gafanha_Low.dbf
!Data/shp/mask/Gafanha_Low.prj
!Data/shp/mask/Gafanha_Low.qmd
!Data/shp/mask/Gafanha_Low.shx